body,
input,
button {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #222;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  padding: 0px 15px 0px 0px;
  font-size: 13px;
  font-family: arial, sans-serif;
}

img {
  width: 272px;
  height: 92px;
}

#Header {
  float: right;
  padding: 4px 4px 0px 0px;
  height: 48px;
}

#Content {
  clear: both;
  text-align: center;
  height: 389px;
}

.Searchbar {
  font-size: 16px;
  margin-top: -37px;
  height: 34px;
  border-radius: 7px;
}

a:hover {
  text-decoration: underline;
}

#Footer {
  background-color: rgba(218, 216, 216, 0.719);
  height: 45px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

#Footer a {
  color: #70757a;
  padding: 15px;
  font-size: 14px;
  font-family: arial, sans-serif;
  line-height: 45px;
}

#Footer button {
  color: #70757a;
  background-color: inherit;
  font-size: 14px;
  font-family: arial, sans-serif;
  padding: 0px 15px;
  border: 0px;
  line-height: 45px;
}

#Footer button:hover {
  text-decoration: underline;
  cursor: pointer;
}
