body,
input,
button {
  font-size: 14px;
  font-family: arial, sans-serif;
  color: #222;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  padding: 0px 15px 0px 0px;
  font-size: 13px;
  font-family: arial, sans-serif;
}

#Googlelogo {
  width: 272px;
  height: 92px;
}

#Header {
  float: right;
  padding: 4px 4px 0px 0px;
  height: 48px;
}

#SignIN {
  color: #fff;
  background: #1a73e8;
  padding: 9px 23px;
  font-weight: 500;
  border: 1px solid transparent;
  text-decoration: none;
  border-radius: 7px;
  cursor: pointer;
}

#Content {
  clear: both;
  text-align: center;
  height: 389px;
}

#Forms {
  padding: 20px;
}

.Searchit {
  width: 580px;
  margin: 0 auto;
  padding: 0px 0px 18px 0px;
  position: relative;
}

.Searchit .Searchbar {
  box-sizing: border-box;
  width: 100%;
  padding: 5px 40px 6.5px 40px;
  line-height: 32px;
  border: solid 1px #ccc;
  border-radius: 30px;
  outline: none;
  font-size: 16px;
}

.Searchit .Searchbar:hover {
  box-shadow: 0.5px 0.5px 3px 1.5px #ccc;
}

.Searchit .icons {
  width: 24px;
  height: 24px;
  position: absolute;
}

.l {
  top: 16.7%;
  left: 1.5%;
}

.r {
  top: 15.3%;
  right: 1.5%;
}

.buttons {
  box-sizing: content-box;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  margin: 11px 4px 11px 4px;
  padding: 0px 16px;
  height: 34px;
  outline: none;
  cursor: pointer;
}

.buttons:hover {
  border: 1px solid #ccc;
}

a:hover {
  text-decoration: underline;
}

#Footer {
  background-color: rgba(218, 216, 216, 0.719);
  height: 45px;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  bottom: 0%;
  left: 0%;
}

#Footer a {
  color: #70757a;
  padding: 15px;
  font-size: 14px;
  font-family: arial, sans-serif;
  line-height: 45px;
}

#Footer button {
  color: #70757a;
  background-color: inherit;
  font-size: 14px;
  font-family: arial, sans-serif;
  padding: 0px 15px;
  border: 0px;
  line-height: 45px;
}

#Footer button:hover {
  text-decoration: underline;
  cursor: pointer;
}
