a {
  text-decoration: none;
}

#Header {
  float: right;
  padding: 0px 4px 0px 0px;
}

#Header a {
  color: rgba(0, 0, 0, 0.87);
  padding: 0px 15px 0px 0px;
  font-size: 13px;
  font-family: arial, sans-serif;
}
#Content {
  clear: both;
}
